@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.creation-montage{
    position:relative; 
    height:300px;
    width: 300px;
    border: 1px solid grey;
    box-shadow:  0px 0px 15px #4e4e4e65;
}

#invisible-caption{
    display: none;
}
.photo-choisie{
position:absolute;
height: 300px;
width: 300px;
left: 0;
top: 0}

#texte-bottom{
position:absolute;
top:260px; 
width:300px; 
margin: 0;
z-index: 100;
}



.template1{
    font-family: 'Montserrat', sans-serif;
    color: black;
    background-color: white; 
    font-size: 18px;
    height: 40px;
    text-align: left;
    padding: 5px;
    
}

#texte-top{
    position:absolute;
    top:0px; 
    margin: 0;
    width:300px;  
    z-index: 100;
}

.template2{
    font-family: 'Impact';
    text-transform: uppercase;
    color: white;
    letter-spacing: .1rem;
    font-size: 26px;
    height: 40px;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;

}

.template3{
    font-family: 'Impact';
    text-transform: uppercase;
    color: white;
    background-color: black;
    letter-spacing: .1rem;
    font-size: 26px;
    height: 40px;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

.template4{
    font-family:'Times New Roman', Times, serif;
    color: white;
    background-color: black;
    font-size: 18px;
    height: 40px;
    padding-top: 5px;
}