.pictures-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.picture{
    max-width: 400px;
    margin: 20px;
}

.select-picture{
    width: 100%;
    padding-top: 30px;
}