.add-picture{
    padding-top : 40px;
}

.button-delete{
    width: 40px;
    align-self: center;
}
#img-trash{
    width: 25px;
}

.image-and-delete{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pictures-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.picture{
    max-width: 300px;
    margin: 20px;
}

.select-picture{
    width: 100%;
    padding-top: 30px;
}